## 미스터리 사인
- 주어진 수를 보고 규칙을 찾는 문제

## Question 1
- 큰수+두 수의 차
- 22 ? 7 = 37

### 데이터 만들기

In [1]:
list1= []
for i in range(1,200): # 첫 숫자의 범위
    for j in range(1,200): # 두번째 숫자의 범위
        result = (i+(i-j)) if i>j else (j+(j-i))
        list1.append([i,j,result])

### 데이터 전처리

In [2]:
import pandas as pd
data1 = pd.DataFrame(list1, columns = ['N1','N2','Result'])
data1.head()

   N1  N2  Result
0   1   1       1
1   1   2       3
2   1   3       5
3   1   4       7
4   1   5       9

### 문제와 정답 분리
- X : 문제
- y : 정답

In [3]:
X= data1.loc[ : ,['N1','N2']]
y = data1.loc[ : ,'Result']

### 머신러닝 모델 불러오기

In [4]:
# 규칙을 찾는 역할
from sklearn.ensemble import RandomForestRegressor

In [5]:
rf = RandomForestRegressor()

###  모델 사용하기(학습)
- 규칙 찾기

In [6]:
rf.fit(X,y)

RandomForestRegressor()

### 모델 사용하기(예측)

In [7]:
rf.predict([[22,7]])

array([37.1])

## Question 2
- (큰 수 / 작은수)의 나머지
- 4 ? 19 = 3

In [20]:
list2= []
for i in range(1,200): # 첫 숫자의 범위
    for j in range(1,200): # 두번째 숫자의 범위
        result = (i%j) if i>j else (j%i)
        list2.append([i,j,result])

In [21]:
data2 = pd.DataFrame(list2, columns = ['N1','N2','Result'])
data2.head()

   N1  N2  Result
0   1   1       0
1   1   2       0
2   1   3       0
3   1   4       0
4   1   5       0

In [22]:
x= data2.loc[ : ,['N1','N2']]
Y = data2.loc[ : ,'Result']

In [23]:
rf = RandomForestRegressor()

In [24]:
rf.fit(x,Y)

RandomForestRegressor()

In [29]:
rf.predict([[4,19]])

array([2.45])